@media screen and (min-width:992px) {
    .show_item {
        width: 250px;
        height: 250px;
        object-fit: contain;
    }
}
@media screen and (max-width:991px) and (min-width:768px) {
    .show_item {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}
@media screen and (max-width:767px) and (min-width:577px) {
    .show_item {
        width: 140px;
        height: 140px;
        object-fit: contain;
    }
}
@media screen and (max-width:576px) {
    .show_item {
        width: 90%;
    }
}